streamlit
langchain-google-genai>=4.0.0
langchain-classic
langchain-community
langchain-text-splitters
chromadb
pypdf
sentence-transformers
# protobuf==3.20.3  <-- ⚠️ Remove or update this to avoid compatibility breaks